<html>
<head>
<style type="text/css">
*{margin:0; padding:0; font-family:arial}
body{position:relative; font-size: 50pt}
.mq {
    position: absolute;
    left: 10%;
    top: 20%;
    color: transparent;
    text-shadow: 0 0 10px rgba(255,255,255,0.7),
    	0 0 50px rgba(255,255,255,0.3),
    	0 0 180px rgba(255,255,255,0.3);
}

</style>
</head>
<body>

<div id="container"></div>
<div class="mq"></div>


<script id="2d-vertex-shader" type="x-shader/x-vertex">
{{include 'main.vert'}}
</script>
<script id="2d-fragment-shader" type="x-shader/x-fragment">
{{include 'main.min.frag'}}
</script>
<script type="text/javascript">
{{include 'oli.ugly.js'}}
</script>

</body>

</html>
